@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  font-family: Poppins;
}

.container {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 600px;
  padding: 20px 30px;
  background-color: #ddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.app > h2 {
  text-align: center;
}

.app .quiz {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.app .quiz .question {
  font-size: 20px;
  font-weight: 600;
}

.app .quiz .answers {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.app .quiz .answers .answer-btn {
  font-size: 16px;
  text-align: left;
  padding: 15px;
  border: 1px solid #999;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.app .quiz .answers .answer-btn:hover {
  color: white;
  background-color: #222;
  border: 1px solid #222;
}

.app .quiz .next-btn {
  width: fit-content;
  margin: auto;
  padding: 10px 20px;
  border: 1px solid #999;
  border-radius: 10px;
  cursor: pointer;
}

.correct {
  background-color: #19a119 !important;
  border: 1px solid #19a119 !important;
  color: white !important;
}

.incorrect {
  background-color: #d63b3b !important;
  border: 1px solid #d63b3b !important;
  color: white !important;
}
